<!DOCTYPE html>
<html>
<head>
    <title>Список вопросов</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <a href="/feedbacks/create">Добавить вопрос</a>
    <h1>Список вопросов</h1>
    <table border="1">
        <tr><th>Имя</th><th>Почта</th><th>Тема</th><th>Вопрос</th><th>Изображение</th></tr>
        <% for (var i = 0; i < feedbacks.length; i++) {
            if (feedbacks[i].image == null) {%>
                <tr><td><%= feedbacks[i].name %></td>
                <td><%= feedbacks[i].email %></td>
                <td><%= feedbacks[i].topic %></td>
                <td><%= feedbacks[i].message %></td>
                <td>Отсутствует</td></tr>
            <% } else { %>
                <tr><td><%= feedbacks[i].name %></td>
                <td><%= feedbacks[i].email %></td>
                <td><%= feedbacks[i].topic %></td>
                <td><%= feedbacks[i].message %></td>
                <td><img src="./scans/<%= feedbacks[i].image %>" width="200" alt="Изображение"></td></tr>
            <%}
        } %>
    </table>
</body>
</html>